@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('./fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newyorkregular';
    src: url('./fonts/newyork-webfont.woff2') format('woff2'),
         url('./fonts/newyork-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
