.section-services-info {
	padding-top   : 20px;
	padding-bottom: 89px;
	background    : #F8F7F3;

	&__content-wrapper {
		max-width     : 1020px;
		letter-spacing: 0.13px;
		margin-bottom : 55px;

		h2 {
			color        : #000;
			font-family  : $font__main;
			font-size    : 70px;
			font-style   : normal;
			font-weight  : 400;
			line-height  : normal;
			margin-bottom: 24px;
		}

		p {
			color         : #000;
			font-family   : $font__secondary;
			font-size     : 16px;
			font-style    : normal;
			font-weight   : 400;
			line-height   : 28px;
			margin-bottom : 28px;
			letter-spacing: 0.13px;
		}
	}

	&__item {
		cursor       : pointer;
		border-bottom: 1px solid #1E1E1E;
		transition   : all ease-in-out 0.2s;

		a {
			text-decoration: none;

			h3 {
				color      : #000;
				font-family: $font__main;
				font-size  : 50px;
				font-style : normal;
				font-weight: 400;
				line-height: normal;
				margin     : 24px 0;
			}
		}

		&.disabled {
			opacity: 0.5;
		}
	}

	&__img-wrap {
		position       : absolute;
		top            : 0;
		left           : 0;
		width          : 350px !important;
		height         : 350px;
		background-size: cover;
	}

	&__img {
		width            : 100%;
		height           : 100%;
		position         : absolute;
		top              : 0;
		left             : 0;
		overflow         : hidden;
		pointer-events   : none;
		background-repeat: no-repeat;
	}

	.container .row:nth-child(2) .col-12:first-child &__item {
		border-top: 1px solid #1E1E1E;
	}
}